body, html {
    margin: auto;
    height: 100%;
    width: 150vh;
}

html {
    background-color: rgb(35, 34, 34);
}

.projects,
.other {
    padding: 10px;
    font-size: 15px;
}

svg {
    height: 17px;
    margin-right:15px;    
}

img {
    width: 40px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    background-color: rosybrown;
    padding: 25px 20px 20px 20px;
    display: grid;
    grid-template-columns: 40px 5fr;
    grid-template-rows: 80px repeat(10, 40px);
    color: white;
    font-size: 17px;

    div > svg {
        fill: white;
        display: block;
        margin-top: 2px;    
    }

    div:first-child > svg {
        height: 30px;
        margin-top: -4px;
    }

    .dash {
        font-size: 22px;
        font-weight: 600;
    }
}

.header {
    background-color: azure;
    padding: 15px 30px 15px 30px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;

    input[type=text] {
        background-color: beige;
        border: none;
        width: 30em;
        height: 1.5em;
        border-radius: 10px;
    }

    input[type=text]:focus {
        outline: none;
        border: solid 1px rosybrown;
        box-shadow: 0px 0px 10px lightgrey;
    }

    svg {
        height: 20px;
    }

    .name {
        font-weight: 600;
    }
}

.first-row {
    display: grid;
    grid-template-columns: 0.5fr 8fr 1fr 1fr 2fr;
    align-items: center;

    .bell {
        margin-left: auto;
        margin-right: 5px;
    }

    .name {
        margin-left: auto;
        margin-right: 10px;
    }

    .firstSun {
        margin: auto;
    }
}

.second-row {
    display: grid;
    grid-template-columns: 0.7fr 7fr 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;

    .hi {
        font-size: 13px;
        color: black;
    }
    
    .name2 {
        font-size: 20px;
        color: black;
    }

    .btn {
        text-align: center;
        background-color: lightblue;
        height: 25px;
        width: 5em;
        border-radius: 15px;
        margin-left: auto;
        font-size: 14px;
        color: rgb(53, 53, 53);
        line-height: 25px;
    }

    .btn:active {
        outline: none;
        border: solid 1px rosybrown;
        box-shadow: 0px 0px 10px lightgrey;
    }
}

.main-content {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    background-color: beige;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25px 1fr 1fr 1fr;
    gap: 17px;
    color: rgb(96, 95, 95);

    > div {
        border-left: solid 8px lightskyblue;
        height: 125px;
        background-color: white;
        padding: 20px 10px;
        border-radius: 5px;
        font-size: 14px;
        position: relative;
        box-shadow: 0px 0px 10px lightgray;
    }

    .proName {
        font-size: 16px;
        font-weight: 600;
        color: black;
    }

    > p {
        grid-column: 1 / -1;
        font-size: 20px;
        margin: 10px 0px 0px 0px;
        color: black;
    }

    .cubeSvg {
        position: absolute;
        bottom: 15px;
        right: 10px;
        fill: rgb(74, 73, 73);
    }
}

.other {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
}

.annc,
.trending {
    border: solid 2px red;
    padding: 5px;
    display: grid;
    grid-template-rows: 50px 1fr 1fr 1fr;
    background-color: white;
    
    > div {
        border: solid 2px green;
        height: 50px;
        font-size: 11px;
    }
}

span {
    color: rgb(115, 115, 33);
}