body, html {
    margin: auto;
    height: 100%;
    width: 150vh;
}

.sidebar, 
.main-area {
    border: solid 3px blue
}

.projects,
.other {
    border: solid 2px pink;
    padding: 10px;
}

.header,
.main-content {
    border: solid 2px orange;
}

.annc,
.trending {
    border: solid 2px red;
    padding: 10px;
    display: grid;
    grid-template-rows: 50px 1fr 1fr 1fr;
    
    > div {
        border: solid 2px green;
        height: 50px;
    }
    
    > p {
    
    }
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr 1fr;
    gap: 15px;

    > div {
        border: solid 2px yellow;
        height: 150px;
    }

    > p {
        grid-column: 1 / -1;
    }
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.other {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header {
    padding: 10px;
    display: grid;
    grid-template-columns: 6fr repeat(3, 1fr);
    grid-template-rows: 1fr 2fr;

    > div {
        border: solid 1px violet;
    }
}